<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Go To</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link"
          routerLink="/raportet"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Raportet</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link"
          routerLink="/raport-shitje"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Raport Shitje</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link"
          routerLink="/raport-blerje"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Raport Blerje</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link"
          routerLink="/bilanci"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Bilanci</a
        >
      </li>
    </ul>
  </div>
</nav>
<div class="contaier">
  <div class="row">
    <table class="table table-dark">
      <thead>
        <tr>
          <th>Makina</th>
          <th>Sigurimi</th>
          <th>Targa</th>
          <th>Shuma</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let raport of raportBlerje">
          <td>{{ raport.makina }}</td>
          <td>{{ raport.sigurimi }}</td>
          <td>{{ raport.targa }}</td>
          <td [ngClass]="{ 'high-payment': raport.shuma <= 0 }">
            {{ raport.shuma }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<router-outlet></router-outlet>
