<p>Raport Blerje works!</p>
<nav>
  <ul>
    <li><a routerLink="/raportet" routerLinkActive="active" ariaCurrentWhenActive="page">Raportet</a></li>
    <li><a routerLink="/raport-shitje" routerLinkActive="active" ariaCurrentWhenActive="page">Raport Shitje</a></li>
    <li><a routerLink="/raport-blerje" routerLinkActive="active" ariaCurrentWhenActive="page">Raport Blerje</a></li>
    <li><a routerLink="/bilanci" routerLinkActive="active" ariaCurrentWhenActive="page">Bilanci</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>