<div>
  <div>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>First name</th>
          <th>Last name</th>
          <th>Date of birth</th>
          <th>Position</th>
          <th>Salary</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let bilanc of bilanci">
          <td>{{ bilanc.makina }}</td>
          <td>{{ bilanc.sigurimi }}</td>
          <td>{{ bilanc.targa }}</td>
          <td>{{ bilanc.shuma }}</td>
  
        </tr>
      </tbody>
    </table>
  </div>
</div>

<router-outlet></router-outlet>