.high-cost-payment {
  color: rgb(4, 15, 5);
  font-weight: bold;
  background-color: rgb(232, 19, 30);
}
.high-income-payment {
  color: rgb(4, 15, 5);
  font-weight: bold;
  background-color: rgb(5, 232, 51);
}
.green-background {
  background-color: green;
  color: white;
}

.red-background {
  background-color: red;
  color: white;
}